*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	background: var(--color-bg);
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

button {
	font: inherit;
}
